.container789 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    max-width: 1280px;
    width: 100%;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
 

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333;
    text-align: left;
}

.card-actions {
    text-align: right;
}

.btn {
    background-color: #38b2ac; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #319795; 
}


.booked-section {
    border: 1px solid #dedede;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 50px;
}

.booked-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.booked-section p {
    font-size: 1rem;
    margin-bottom: 10px;
    padding-top: 40px;
    font-weight: bold;
}

.booked-section .btn {
    margin-top: 20px;
    width: 100%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
    text-align: center;
	font-size: 48px;
	color: #10997f;
	margin-top: 185px;
}
p {
	font-family: 'Open Sans', sans-serif;
    text-align: center;
	font-size: 18px;
	margin: 10px 0;
}
.highlight {
	font-weight: bold;
	color: #10997f;
}

.contact-info {
	font-family: 'Open Sans', sans-serif;
    text-align: center;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
.address {
	font-family: 'Open Sans', sans-serif;
    text-align: center;
	margin-top: 10px;
	font-size: 16px;
}
.hours {
	font-family: 'Open Sans', sans-serif;
    text-align: center;
	margin-top: 5px;
	font-size: 16px;
}